{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{contact.id}}" method="POST">
          <div class="form-group">
            <input type="text" name="fullname" value="{{contact.fullname}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="phone" value="{{contact.phone}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="email" value="{{contact.email}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
